
Photos:

<% @all.each do |element| %>

  <p>
    ID: <%= element.id %>
  </p>

  <p>
    Title: <%= element.title %>
  </p>

  <p>
    <%= image_tag element.image_url %>
  </p>

  <p>
    <%= link_to "See more!", element %>
    <%= link_to "Edit", "/photos/#{element.id}/edit" %>
    <%= link_to "Delete", "/photos/#{element.id}", data: { "turbo-method": :delete , turbo_confirm: 'Are you sure?'} %>
  </p>

<%end%>